
@media only screen and (min-width: 32.5em {
    
}

body {
     background-color: #f1f9fd;
    max-width: 760px;
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

header {
     background-color: #949BFF;
    max-width: 760px;
    margin: auto;
    height: 80px;
    text-align: center;
    border-radius: 110px;
    -moz-border-radius: 110px;
    -webkit-border-radius: 110px;
}

#mainContent {
    padding: 10px;
    padding-left: 200px;
}

main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    font-size: 0.8rem;
}


h1 {
    font-family: 'Francois One', sans-serif;
    padding-top: 15px;
    text-align: center;
}

footer {
    background-color: #949BFF;
    max-width: 760px;
    height: 70px;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
}