body {
    margin: 0 auto;
    padding: 0;
     background-color: #f1f9fd;
}

header {
    background-color: #949BFF;
    margin: 0 auto;
    max-width: 300px;

}

section hr {
    height: 5px;
    border: 0;
    background-color: black;
}

/* Phone or Baseline Views */



main {
    max-width: 767px;
    display: grid;
    grid-template-columns: [col-1-start] 1fr 1fr 1fr;
    font-size: 0.8rem;
}

main section {margin: 10px};

main picture {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0.1rem;


}

.colimage {
    width: 95%;
}
