body {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-size: 16px;
    background-color: #f1f9fd;
}

header {
    background-color: #949BFF;
    color: black;
    margin: 40 auto;
    height: 100px;
    max-width: 770x;
    text-align: center;
    border-radius: 110px;
    -moz-border-radius: 110px;
    -webkit-border-radius: 110px
}
   


section hr {
    height: 5px;
    border: 0;
    background-color: black;
}

/* Phone or Baseline Views */

main {
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    
}

main section {
    margin: 0.5rem;

    padding: 0.1rem;
}

section:nth-child(2) {
    display: none;
    margin: 0.5rem;
}



.colimage {
 width: 100%;  
    box-shadow: 0 0 30px;
}

footer {
    background-color: #949BFF;
    max-width: 770px;
    height: 80px;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    border-radius: 110px;
    -moz-border-radius: 110px;
    -webkit-border-radius: 110px;
}
    