(small) .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    align-self: auto;
}

(medium) @media only screen and (min-width: 750px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }

    (large) @media only screen and (min-width: 900px) {
        .cards {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }