@media only screen and (min-width: 35rem) {
 
   body {
       background-color: #F3F7F0;
       max-width: 1060;
   }

   .container {
       text-align: center;
       font-weight: 500;
       font-size: larger;

   }
 
 div.circTxt {
     display: inline-block;
     margin-bottom: 128px;
     color: #002DBD;
 }


 h1 {
     font-family: 'Rajdhani', sans-serif;
     color: #002DBD;
 }

 h2,
 h3,
 h4 {
     font-family: 'Martel', serif;
 }

 .logo {
     display: flex;
     margin: 10px auto;
     height: 60px;
     border-radius: 12px;
 }


 slogan {
     position: relative;
     line-height: 1;
     text-align: center;
     font-size: 4em;
     font-style: italic;
     color: #002DBD;
     display: block;

 }
   







 
 
 
    #sliderImg {
      text-align: center;
      width: 100%;
  }

  #SLIDER_BG {
      width: 100%;
      height: 388px;
      background-position: center center;
      background-repeat: no-repeat;
      backface-visibility: hidden;
      animation: slideBG 8s linear 0s infinite;
      animation-timing-function: ease-in-out;
      background-image: url("../images/img1-400.jpg");

  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    nav button {
      display: none;
  }

  .navigation {
      display: flex;
      flex-direction: row;
      
  }

  .navigation li {
      display: block;
  }

  .navigation a {
      text-align: center;
       color: #F3F7F0;
       padding: 5px 5px;
       text-decoration: none;
       font-size: 12px;
       display: block;
  }

   .navigation li:nth-child(1){          
       display: none;
   }

   .clan {
       display: flex;
       flex-direction: column;
       align-items: center;
       color: #f5823e;
   } 
   
   .col-head {
       display: flex;
       flex-wrap: wrap;
       align-content: flex-start;
      
   }

  .data {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }

  .forecast {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 10px #264653;
  }

  .flex-col {
    display: flex;
    background-color: #d6ffb7;
    padding: 5px;
    justify-content: center;
  }



}