body{
   background-color:#F3F7F0;
}
.curved {
text-align: left;
font-family: 'Rajdhani', sans-serif;
color: #002DBD;
}



h1 { 
    font-family: 'Rajdhani', sans-serif;
    color: #002DBD;
}
h2, h3, h4 {
    font-family: 'Martel', serif;
}

 .logo {
     margin: 10px;
     height: 60px;
     border-radius: 12px;
 }


slogan {
    position: relative;
    line-height: 1;
    font-size: 4em;
    font-style: italic;
    color: #002DBD;

}

.responsive {
    width: 100%;
    height: auto;
}