body {
    background-color: #F3F7F0;
    margin: 0;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    color: #002DBD;
}

h2,
h3,
h4 {
    font-family: 'Martel', serif;
}

.container {
    text-align: center;
    font-weight: 500;

}

.circTxt {
    display: inline-block;
    margin-bottom: 128px;
    color: #002DBD;
    font-size: xx-large;
}

#icon {
    text-align: center;
    width: 100%;
}

.logo {
    display: flex;
    margin: 10px auto;
    height: 64px;
    border-radius: 12px;
    position: relative;
    left: 50px;
}


#slogan {
    position: relative;
    line-height: 1;
    text-align: center;
    font-size: medium;
    font-style: italic;
    color: #002DBD;

}

#sliderImg {
    text-align: center;
    width: 100%;
}

#SLIDER_BG {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBG 8s linear 0s infinite;
    animation-timing-function: ease-in-out;
    background-image: url("../images/img1-400.jpg");

}

@keyframes slideBG {
    0% {
        background-image: url('../images/img1-400.jpg');
    }

    25% {
        background-image: url('../images/img2-400.jpg');
    }

    50% {
        background-image: url('../images/img3-400.jpg');
    }

    75% {
        background-image: url('../images/img4-400.jpg');
    }

    100% {
        background-image: url('../images/img5-400.jpg');
    }
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;
}

.navigation a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
    color: #e9c46a;
}

.responsive li {
    display: block;
}

.navigation active a {
    background-color: #e9c46a;
    color: black;
}

nav {
    margin: 0 auto;
    color: white;
    background-color: #a93e82;
    box-shadow: 0 2px 15px #0e3e8f;
    list-style: none;
    overflow: hidden;
}


nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #e9c46a;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


.summary-scenerios {
    position: absolute;
    font-size: .75em;
    border: 1px solid lightblue;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(190, 85, 14);
    top: 20px;
    left: 15px;
    background: #ffffff5e;
    box-shadow: 0 0 15px rgb(190, 85, 14);
}

.summary-scenerios p {
    margin: 0;
}

.forecast {
    text-align: center;
}

.forecast h2 {
    text-align: center;
    font-size: medium;
}

.wicon {
    width: 75%;
}

.clan {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5823e;
}

.col-head {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}


.flex-col {
    display: flex;
    background-color: #d6ffb7;
    padding: 2px;
    justify-content: center;

}


.responsive {
    width: 100%;
    height: auto;
}

footer {
    background-color: #a93e82;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 15px;
    font-family: 'Martel', serif;
    margin-top: 10px;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    padding: .5rem 2%
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: rgb(190, 85, 14);
    font-size: .8rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0, .1);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0, .1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*<style>img {
    border: 1px solid #ddd;
    /* Gray border */
border-radius: 4px;
/* Rounded border */
padding: 5px;
/* Some padding */
width: 150px;
/* Set a small width */
}

/* Add a hover effect (blue shadow) */
/*img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

</style> */

table,
th,
td {
    border: solid 1px #B4B4B2;
    border-collapse: collapse;

    max-width: 100%;
    padding: 8px;
    text-align: center;
    font-size: .75em;
    font-weight: 300;
}



th {
    background-color: #628ca6;
}

tr:nth-child(even) {
    background-color: #e7f0ed;

}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tr:nth-child(4) td:nth-child(3) {
    background-color: #628ca6;
    color: white;

}

tfoot tr td {
    background-color: #7fb9c2;
    color: black;
    text-align: center;
    padding: 8px;
    line-height: 1.5;
    font-size: .50em;
}


thead tr th {
    background-color: #628ca6;
    color: white;

}

body {
    font-family: 'Ubuntu', sans-serif;
    max-width: 400px;
}

caption {
    background-color: #7fb9c2;
    padding: 10px;
    box-shadow: 10px 10px 15px #5e9097;
    font-size: 1.5em;
    font-weight: bold;
}





a.socialmedia img {
    padding-right: 5px;
    margin-top: 5px;
    border-radius: 50%;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}


.fa:hover {
    opacity: 0.7;

}


.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}