@media only screen and (min-width: 64em) {
   body {
       margin: 0 auto;
       max-width: 1060px
   } 
    
    
    
    main {
        border: solid thick rgb(190, 85, 14);
        margin: 0 auto;
        max-width: 1060px;
    }

    header, footer {
        margin: 0 auto;
        max-width: 1060px;
    }

    .summary-scenerios {
        position: absolute;
        margin-bottom: 50px;
        border: 1px solid lightblue;
        border-radius: 20px;
        box-shadow: 0 0 15px rgb(190, 85, 14);
        background: #ffffff5e;
        max-height: 300px;
    }


    .nav ul {
        display: flex;
        justify-content: space-around;
    }


    .nav {
        overflow: hidden;
        background-color: #939995;
        position: relative;
        display: flex;
        max-width: 1060px;
    }

    .navigation li:nth-child(1) {
        display: none;

    }

    .navigation li {
        display: block;
    }



    .nav a {
        color: white;
        padding: 5px 5px;
        text-decoration: none;
        font-size: 12px;
        display: block;

    }

    .nav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;

    }


    .nav a:hover {
        background-color: #ddd;
        color: black;
    }

    .clan {
        display: flex;
        flex-direction: column;
        align-items: center;
         border: 1px solid black;
    }

    .col-head {
    width: 100%;
    text-align: center;
    background-color: salmon;
    border-bottom: 1px solid black;
    
    }

    .forecast {
        text-align: center;
        padding: 5px;
        box-shadow: 0 0 10px rgba(190, 94, 66, 0.3);
    }

    .forecast {
        display: block;
    }


    .flex-col {
        display: flex;
        justify-content: center;
        background-color: rgba(29, 107, 225, 0.1);
        padding: 5px;
       
    }

    .hero {
        margin: 10px auto;
        position: relative;
        width: 100%;
        max-width: height 200px;
        ;

    }

    .artpic {
        display: flex;
        float: right;
        max-width: 200px;
        height: auto;

    }

    .contactInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px 0 5px 20px;
    }


    .contact_info {
        display: block;
        text-align: center;
        
    }

    .address {
        padding: 20px;

    }

    .address p {
        margin: 0;
    }


    .wicon {
        width: 121;
        height: 170;
    }

    form label.sbs {
        padding: .4rem 0;
    }

}
